:root {
  --color-dark-100: #1B1B1B;
  --color-dark-200: #080808;
  --color-dark-300: #000000;
  --color-green-100: #62BA1B;
  --color-green-200: #3F8E00;
  --color-green-300: #2AB090;
  --color-white-100: #F8F8F8;
  --color-white-200: #FFF6E9;
  --color-white-300: #9C9C9C;
  --color-white-1000: #FFFFFF;
  --color-orange-100: #FFA217;
  --color-blue-100: #000AFF;
  --color-text-main: var(--color-dark-200);
  --color-text-secondary: var(--color-white-300);
}


